<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="images/css/estilo.css">
    <title>Carlos Reyes</title>
</head>
<body background="images/images/fondo.jpg">
    <center><h1>Carlos Reyes</h1></center>
    <center><img src="images/images/carlosReyes.jpg"  width="300" height="300" /></center>
    <div class="container bg-primary">
        <!--12-->
        <div class="row hola">
            <div class="col-3 bg-danger">
                <p class="clase1">Caracterisitcas</p>
            </div>
            <div class="col-4 bg-primary">
                <p class="clase1">Son estas:</p>
            </div>
            <div class="col-5 bg-success">
                <p class="clase1">9/7/2022</p>
            </div>
        </div>
    </div>
    <div class="container background-color">
        <!--12-->
        <div class="row">
            <div class="col-3 bg-danger">
                <p class="clase1">Peso</p>
            </div>
            <div class="col-9 bg-primary">
                <p class="clase1">80kg</p>
            </div>
        </div>
    </div>
    <div class="container bg-primary">
        <!--12-->
        <div class="row">
            <div class="col-3 bg-danger">
                <p class="clase1">Edad</p>
            </div>
            <div class="col-9 bg-primary">
                <p class="clase1">23</p>
            </div>
        </div>
    </div>
    <div class="container bg-primary">
        <!--12-->
        <div class="row">
            <div class="col-3 bg-danger">
                <p class="clase1">Altura</p>
            </div>
            <div class="col-9 bg-primary">
                <p class="clase1">174cm</p>
            </div>
        </div>
    </div>
    <div class="container bg-primary">
        <!--12-->
        <div class="row">
            <div class="col-3 bg-danger">
                <p class="clase1">Carrera</p>
            </div>
            <div class="col-9 bg-primary">
                <p class="clase1">Ingeniera en sistemas digitales y robótica</p>
            </div>
        </div>
    </div>
    <div class="container bg-primary">
        <!--12-->
        <div class="row">
            <div class="col-3 bg-danger">
                <p class="clase1">Hobbies</p>
            </div>
            <div class="col-9 bg-primary">
                <p class="clase1">Basket, Ajedrez</p>
            </div>
        </div>
    </div> <div class="container">
        <div style="background-color:rgb(200, 120, 255);">
            <p id="p9">Aqui andamos porque aca nos puso la vida</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>